* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background: #eee;
    color: #333;
    font-family: verdana, arial, sans-serif;
}

a {
    color: #3850a0;
    text-decoration: none;
}
a:hover {
    color: #3850a0;
}

.backdrop,
.mensaje {
    position: fixed;
    top: 144px;
    left: 50%;
    width: 320px;
    height: 200px;
    margin: 0 0 0 -160px;
    color: #282d33;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.backdrop {
    background: #5da7d1;
    opacity: 0.90;
    filter:alpha(opacity=90);
    z-index: 1;
}

.mensaje {
    z-index: 2;
}

.mensaje p {
    padding: 5px;
}

.tweets {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.tweets a {
    display: block;
    float: left;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.tweets a.active {
    width: 44px;
    height: 44px;
    border: 2px solid #ef3338 !important;
}
.tweets a.watching {
    width: 44px;
    height: 44px;
    border: 2px solid #6fc9ef;
}
.tweets a.active img,
.tweets a.watching img {
    opacity: 1 !important;
    filter:alpha(opacity=100) !important;
}
.tweets a img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter:alpha(opacity=50);
    -webkit-border-radius: 50%;
    border-radius: 50%;
}